workflows/02_n8n配置飞书云文档和消息服务工作流/n8n配置飞书云文档和消息服务工作流.json
{
  "name": "n8n配置飞书云文档和消息服务工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        544
      ],
      "id": "ec6626cd-993e-4ce9-9096-76b0b0df48d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a8759c6a213d500e\",\n    \"app_secret\": \"w7BjX2yj17rSfiR8oPueef1ktTouGrEH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        544
      ],
      "id": "b71567f8-5f25-4502-a470-a4e82b3c41f7",
      "name": "获取飞书Token",
      "notesInFlow": true,
      "notes": "获取飞书token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"text\",\n  \"content\": \"{\\\"text\\\":\\\"<at user_id=\\\\\\\"all\\\\\\\">南哥</at> 大家好，这里是南哥AGI研习社。[南哥AGI研习社](https://nangeai.top)\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        256
      ],
      "id": "de66e517-a5da-4b95-bfcd-ae5e99ae1567",
      "name": "向群组发送文本消息"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"南哥AGI研习社\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"text\\\",\\\"text\\\":\\\"大模型代理平台 :\\\"},{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://nangeai.top\\\",\\\"text\\\":\\\"nangeai.top\\\"},{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"img\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}]]}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        464
      ],
      "id": "4638413a-615f-4b6b-8b58-e4084684b73c",
      "name": "向群组发送富文本"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"image\",\n  \"content\": \"{\\\"image_key\\\": \\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        272
      ],
      "id": "c2d79924-6247-4174-8097-cee49f90eaf6",
      "name": "向群组发送图片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        464
      ],
      "id": "2616a2d7-0979-481a-8fba-0902193bb87d",
      "name": "上传图片到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"interactive\",\n  \"content\": \"{\\\"type\\\":\\\"template\\\",\\\"data\\\":{\\\"template_id\\\":\\\"AAqhwSFEnW3pt\\\",\\\"template_version_name\\\":\\\"1.1.5\\\",\\\"template_variable\\\":{\\\"picture\\\":{\\\"img_key\\\":\\\"{{ $json.data.image_key }}\\\"},\\\"link\\\":{\\\"url\\\":\\\"https://nangeai.top\\\"}}}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        640
      ],
      "id": "40d1b519-fd2e-4a37-a12b-2d6f336282df",
      "name": "向群组发送消息卡片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"share_chat\",\n  \"content\": \"{\\\"chat_id\\\":\\\"oc_9619619c722d54d1b6589f7405855d59\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        464
      ],
      "id": "688e68be-590d-4b0a-a345-ef252a845f6f",
      "name": "向群组发送群名片"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"audio\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        880
      ],
      "id": "cab84278-4757-4d52-b0c6-1fe63fb10cb4",
      "name": "向群组发送语音"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "opus"
            },
            {
              "name": "file_name",
              "value": "audio.opus"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        880
      ],
      "id": "9cabbf62-8bf7-4204-a4dc-11aba85c50d0",
      "name": "上传音频到飞书"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        416,
        672
      ],
      "id": "f8c114f9-993e-46c3-ad5d-5ea2ec331b60",
      "name": "读取本地图片"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/audios/audio.opus",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        416,
        880
      ],
      "id": "fb68bbac-acb4-4035-bf37-4764053b1f9b",
      "name": "读取本地音频"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/videos/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        416,
        1088
      ],
      "id": "deaf411a-c7c4-40a4-ad79-57c2811aa73a",
      "name": "读取本地视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "mp4"
            },
            {
              "name": "file_name",
              "value": "video.mp4"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1088
      ],
      "id": "52a2d641-aace-47a7-bbd3-4656f6b32814",
      "name": "上传视频到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"media\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $('上传视频到飞书').item.json.data.file_key }}\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        1088
      ],
      "id": "3779f40f-2c7f-4415-b487-e72fbc94f17e",
      "name": "向群组发送视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        1088
      ],
      "id": "c991c1c1-f6be-49c1-83cc-e2c3c92c21d7",
      "name": "上传视频封面图片到飞书"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        864,
        1088
      ],
      "id": "330ce55b-c4d3-4454-9f1c-e9a31667fb79",
      "name": "读取本地视频封面图片"
    },
    {
      "parameters": {
        "fileSelector": "./n8ndata/files/file.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        416,
        1312
      ],
      "id": "19399562-85fa-47db-8704-d2a22d998000",
      "name": "读取本地文件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "pdf"
            },
            {
              "name": "file_name",
              "value": "file.pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        1312
      ],
      "id": "c32d3d15-61d4-4115-bf60-7132290352b4",
      "name": "上传文件到飞书"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"file\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        1312
      ],
      "id": "53b2967d-ba7c-4a7b-b2ca-f5a4a1ed069e",
      "name": "向群组发送文件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"HTTP节点创建的多维表格\",\n  \"folder_token\": \"{{ $json.data.token }}\" \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -400
      ],
      "id": "95a79ba3-777a-45f0-a139-1861d67a7911",
      "name": "创建多维表格"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/drive/v1/files/create_folder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"南哥AGI研习社\",\n  \"folder_token\": \"AxRdfiYhZlvfAFdegowcc34Jnrd\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -400
      ],
      "id": "c7fac359-331e-44dd-b4f3-3c733d5f4ca6",
      "name": "创建文件夹"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"fields\": {\n    \"文本\": \"南哥AGI研习社\",\n    \"单选\": \"南哥\",\n    \"日期\": 1674206443000,\n    \"超链接\": {\n      \"text\": \"nangeai.top\",\n      \"link\": \"https://nangeai.top\"\n    },\n    \"地理位置\": \"116.397755,39.903179\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -400
      ],
      "id": "ea5f6d61-a7a5-4c64-aff1-cf55ad99ee73",
      "name": "新增记录到表格"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.data.app.app_token }}/tables/{{ $json.data.app.default_table_id }}/fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -400
      ],
      "id": "61bb562f-9754-4733-b6c6-8b556650e400",
      "name": "列出数据表字段"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/fields/{{ $json.data.items[3].field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"field_name\": \"超链接\",\n  \"type\": 15,\n  \"ui_type\": \"Url\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -400
      ],
      "id": "ac9f30a6-1c7b-4ec4-869c-a9074449f2bc",
      "name": "更新字段"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('创建多维表格').item.json.data.app.app_token }}/tables/{{ $('创建多维表格').item.json.data.app.default_table_id }}/fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token1').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"field_name\": \"地理位置\",\n  \"type\": 22\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -400
      ],
      "id": "49438b74-f956-4006-8cad-125bee026bcd",
      "name": "新增字段"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:create",
        "name": "飞书节点创建的多维表格",
        "folder_toke": "={{ $json.data.token }}",
        "time_zone": "Asia/Shanghai"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        544,
        -96
      ],
      "id": "299014fc-6abe-4194-a913-ace509a9fb67",
      "name": "创建多维表格1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:list",
        "app_toke": "={{ $json.data.app.app_token }}",
        "table_id": "={{ $json.data.app.default_table_id }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        752,
        -96
      ],
      "id": "5718e813-e4e0-4f2e-b2fc-bf80755ad6e9",
      "name": "列出数据表字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:update",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "field_id": "={{ $json.data.items[3].field_id }}",
        "body": "{\n  \"field_name\": \"超链接\",\n  \"type\": 15,\n  \"ui_type\": \"Url\"\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        944,
        -96
      ],
      "id": "4d8b65d4-7b08-4757-89b9-1e9cc42a7980",
      "name": "更新字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:field:add",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "body": "{\n  \"field_name\": \"地理位置\",\n  \"type\": 22\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1136,
        -96
      ],
      "id": "7e1abc02-c2a4-4fd4-8f29-fe7786290e0f",
      "name": "新增字段1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "={{ $('创建多维表格1').item.json.data.app.app_token }}",
        "table_id": "={{ $('创建多维表格1').item.json.data.app.default_table_id }}",
        "body": "{\n  \"fields\": {\n    \"文本\": \"南哥AGI研习社\",\n    \"单选\": \"南哥\",\n    \"日期\": 1674206443000,\n    \"超链接\": {\n      \"text\": \"nangeai.top\",\n      \"link\": \"https://nangeai.top\"\n    },\n    \"地理位置\": \"116.397755,39.903179\"\n  }\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1312,
        -96
      ],
      "id": "a5ecc481-bb7a-4783-bc1e-18470df9a7ce",
      "name": "新增记录到表格1",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "HSAKTl9I7CHTHe6z",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 使用官方提供的HTTP节点实现飞书云文档服务的调用",
        "height": 272,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -480
      ],
      "typeVersion": 1,
      "id": "489da4e0-fccf-4e74-8306-8bf9a1b01af4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 使用社区提供的飞书节点实现飞书云文档服务的调用",
        "height": 272,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -176
      ],
      "typeVersion": 1,
      "id": "7a68229e-e7c2-4fc9-ac54-dc4488bd5568",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 使用官方提供的HTTP节点实现飞书消息服务的调用",
        "height": 1344,
        "width": 1312,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        176
      ],
      "typeVersion": 1,
      "id": "57733e1e-191a-4aa8-beb9-b117b6862818",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "获取飞书Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书Token": {
      "main": [
        [
          {
            "node": "向群组发送文本消息",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送群名片",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地音频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地视频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地文件",
            "type": "main",
            "index": 0
          },
          {
            "node": "创建文件夹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "向群组发送文本消息": {
      "main": [
        []
      ]
    },
    "上传图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送富文本",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送消息卡片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传音频到飞书": {
      "main": [
        [
          {
            "node": "向群组发送语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地图片": {
      "main": [
        [
          {
            "node": "上传图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地音频": {
      "main": [
        [
          {
            "node": "上传音频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频": {
      "main": [
        [
          {
            "node": "上传视频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频到飞书": {
      "main": [
        [
          {
            "node": "读取本地视频封面图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频封面图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频封面图片": {
      "main": [
        [
          {
            "node": "上传视频封面图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地文件": {
      "main": [
        [
          {
            "node": "上传文件到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传文件到飞书": {
      "main": [
        [
          {
            "node": "向群组发送文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建多维表格": {
      "main": [
        [
          {
            "node": "列出数据表字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建文件夹": {
      "main": [
        [
          {
            "node": "创建多维表格1",
            "type": "main",
            "index": 0
          },
          {
            "node": "创建多维表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "列出数据表字段": {
      "main": [
        [
          {
            "node": "更新字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新字段": {
      "main": [
        [
          {
            "node": "新增字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增字段": {
      "main": [
        [
          {
            "node": "新增记录到表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建多维表格1": {
      "main": [
        [
          {
            "node": "列出数据表字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "列出数据表字段1": {
      "main": [
        [
          {
            "node": "更新字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新字段1": {
      "main": [
        [
          {
            "node": "新增字段1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增字段1": {
      "main": [
        [
          {
            "node": "新增记录到表格1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b483232b-456e-440b-ae6d-c6ecc5fd80fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "W4cPl8IsBSSAGqG4",
  "tags": [
    {
      "updatedAt": "2025-10-30T12:47:20.269Z",
      "createdAt": "2025-10-30T12:47:20.269Z",
      "id": "f21vDmcMsvedJbTO",
      "name": "飞书"
    }
  ]
}